version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "main"
    commit-message:
      prefix: "chore"
      include: "scope"
    labels:
      - "dependabot"
      - "dependencies"
